<!-- Header -->
<header class="site-header">
  <div class="header-container">
    <div class="logo-title">
      <img
        src="https://cdn-icons-png.flaticon.com/512/616/616408.png"
        alt="Petstore Logo"
      />
      <h1>Paul's Petstore!</h1>
    </div>
    <nav>
      <a routerLink="/">Home</a>
      <a routerLink="/add-pet">Add Pet</a>

      <ng-container *ngIf="!isLoggedIn(); else logoutLinks">
        <a routerLink="/login">Login</a>
      </ng-container>

      <ng-template #logoutLinks>
        <button (click)="logout()" class="logout-button">Logout</button>
      </ng-template>
    </nav>
  </div>
</header>
